<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Eighball</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>Ask Question</h2>

  <form action='/ask' method='POST'>
    Question : <input type='text' name='question'><br /><br />
    <button type='submit'>Ask</button>
  </form>

</body>
</html>
